{
    "extends": [
        "eslint-config-airbnb",
        "plugin:flowtype/recommended",
        "eslint:recommended",
        "plugin:import/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "jest": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "requireConfigFile": false
    },
    "rules": {
        "flowtype/no-types-missing-file-annotation": "off",
        "no-commented-code/no-commented-code": "error",
        "no-console": "error",
        "comma-dangle": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "quotes": "off",
        "no-inline-comments": "error",
        "react/jsx-no-comment-textnodes": "error",
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off",
        "no-unused-vars": "off",
        "react/state-in-constructor": "off",
        "no-nested-ternary": 0,
        "import/no-unresolved": 0,
        "import/no-named-as-default": 0,
        "no-unused-expressions": 0,
        "no-alert": 0,
        "id-length": 0,
        "no-script-url": 0,
        "import/no-extraneous-dependencies": 0,
        "no-trailing-spaces": "off",
        "operator-linebreak": "off",
        "indent": "off",
        "react/jsx-indent": "off",
        "react/jsx-one-expression-per-line": "off",
        "no-underscore-dangle": 0,
        "react/jsx-filename-extension": 0,
        "import/newline-after-import": 0,
        "import/extensions": 0,
        "prefer-template": 0,
        "react/prefer-stateless-function": 0,
        "react/forbid-prop-types": 0,
        "react/no-typos": 0,
        "react/default-props-match-prop-types": 0,
        "react/no-unstable-nested-components": 0,
        "react/jsx-no-useless-fragment": "off",
        "react/no-array-index-key": "off",
        "react/static-property-placement": "off",
        "default-param-last": "off",
        "func-names": "off",
        "class-methods-use-this": "off",
        "no-dupe-class-members": "off",
        "import/no-import-module-exports": "off",
        "no-use-before-define": "off",
        "no-param-reassign": "off",
        "no-restricted-exports": "off",
        "react/no-unused-class-component-methods": "off",
        "react/sort-comp": "off",
        "no-promise-executor-return": "off",
        "no-unsafe-optional-chaining": "off",
        "default-case-last": "off",
        "react/destructuring-assignment": "off",
        "camelcase": "off",
        "react/no-deprecated": "off",
        "consistent-return": "off",
        "no-lone-blocks": "off",
        "react/function-component-definition": "off",
        "no-dupe-keys": "off",
        "react/button-has-type": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/alt-text": "off",
        "react/no-access-state-in-setstate": "off",
        "react/no-unused-state": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "radix": "off",
        "react/no-unused-prop-types": "off",
        "react/require-default-props": "off",
        "no-return-assign": "off",
        "jsx-a11y/media-has-caption": "off",
        "import/prefer-default-export": "off",
        "no-useless-return": "off",
        "no-restricted-syntax": "off",
        "no-undef": "off",
        "react/jsx-boolean-value": "off",
        "jsx-a11y/control-has-associated-label": "off",
        "no-plusplus": "off",
        "react/jsx-uses-vars": "error",
        "no-irregular-whitespace": "error",
        "no-unexpected-multiline": "error",
        "no-const-assign": "error",
        "no-var": "error",
        "no-debugger": "error",
        // "react/jsx-indent": ["error", 2],
        "react/jsx-indent-props": ["error", 2],
        "react-hooks/rules-of-hooks": "off",
        "no-undef-init": "error",
        "no-undefined": "error",
        "import/order": ["error", { "newlines-between": "always" }],
        "object-curly-newline": "off",
        "arrow-body-style": "off"
    },
    "plugins": [
        "react",
        "import",
        "flowtype",
        "import",
        "jsx-a11y",
        "no-commented-code"
    ],
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolve": {
            "moduleDirectory": ["node_modules", "src"]
        }
    },
    "globals": {
        "__CLIENT__": true,
        "__SERVER__": true,
        "beforeAll": true,
        "afterAll": true
    }
}
